<header class="header__background bg-black text-white py-20 px-4 md:px-12 lg:px-16 xl:px-20">
  <div class="flex flex-col lg:flex-row items-center lg:justify-between lg:items-center">
    <a href="/">
      <!-- <h1 class="text-5xl md:text-6xl font-serif">Hari Gopal</h1> -->
      <img src="/assets/images/title.svg" class="max-w-xs" />
    </a>

    <div class="text-3xl mt-8 lg:mt-0">
      <a href="/about">
        <img class="h-8 inline-block" src="/assets/images/address-card-solid.svg" />
      </a>
      <a href="https://github.com/harigopal" class="ml-2">
        <img class="h-8 inline-block" src="/assets/images/github-brands.svg" />
      </a>
      <a href="https://www.linkedin.com/in/hari-gopal" class="ml-2">
        <img class="h-8 inline-block" src="/assets/images/linkedin-brands.svg" />
      </a>
      <a href="https://twitter.com/harigopal" class="ml-2">
        <img class="h-8 inline-block" src="/assets/images/twitter-square-brands.svg" />
      </a>
    </div>
  </div>
</header>
