---
layout: default
---
{%- if site.posts.size > 0 -%}
<div class="theme__home">
  {%- for post in site.posts -%}
  <div>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <div class="mb-6">
      <div class="text-gray-500 mb-1">
        <i class="fa fa-calendar"></i>
        <span class="ml-1">{{ post.date | date: date_format }}</span>
      </div>

      <a href="{{ post.url | relative_url }}">
        <h2 class="text-3xl font-serif">{{ post.title | escape }}</h2>
      </a>
    </div>
  </div>
  {%- endfor -%}
</div>
{%- endif -%}
